
$bg-color:red;

.hello {
  width: 100px;
  height: 100px;
  background-color: $bg-color;
  border-radius: 5px;
  border-color: rebeccapurple;
}

.world {
  color: aqua;
}

h1{
  color: saddlebrown;
}
